footer{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.redes{
    width: 30%;
    margin-left: 6%;
    display: flex;
    color: black;
    font-size: 13px;
}
.derechos{
    color: black;
    font-size: 13px;
    margin-right:6%;
}
