header{
display: flex;    
justify-content: space-between;
}
.logo{
   width: 68px;
   height: 60px;
}
ul{
   width: 50%;
   display: flex;
   justify-content: space-between;
   list-style: none;
   font-family: $fuente1;
   color:$coloruno;
}
a{
   text-decoration: none;
}

